@using Core;
@model List<Food>
<h2>Корма</h2>
<div class="row justify-content-end">
    <a class="btn btn-primary" asp-controller="Food"
       asp-action="Add" role="button">Пополнить</a>
</div><br />


<table style="width:60%">
    <tr>
        <th>Наименование</th>
        <th>Остаток</th>
    </tr>
    @foreach (var f in Model)
    {
        <tr>
            <td>@f.FoodName</td>
            <td>@f.Weight</td>
        </tr>
    }
</table>
