model Core.ViewModels.AviaryModel
<h2>Животные в вольере</h2>
<input type="hidden" >
<div class="row justify-content-end">
    <a class="btn btn-primary" asp-controller="Aviary"
       asp-action="AddAnimal" asp-route-aviaryID=@Model.aviary.AviaryID role="button">Добавить</a>
</div>
<br />

<div class="row">
    
    @foreach (var animal in Model.animals)
    {
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <div>
                        <p class="font-weight-normal" style="text-align:center">@animal.Name</p>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-danger" asp-controller="Aviary"
                           asp-action="Remove" asp-route-animalID=@animal.AnimalID
                           role="button">
                            Забрать из вольера
                        </a>

                    </div>
                </div>
            </div>
        </div>
    }
</div>