@using Core;
@model List<Aviary>
<h2>Вольеры</h2>

<div class="row justify-content-end">
    <a class="btn btn-primary" asp-controller="Aviary"
       asp-action="AddAviary" role="button">Добавить</a>
</div>
<br />

<div class="row">
    @foreach (var aviary in Model)
    {
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <div style="text-align:right">
                        <a asp-controller="Aviary"
                           asp-action="RemoveAviary" 
                           asp-route-aviaryID="@aviary.Id">❌</a>
                    </div>
                    <div>
                        <p class="font-weight-normal" style="text-align:center">@aviary.Name</p>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-danger" asp-controller="Aviary"
                           asp-action="Animals" asp-route-aviaryID="@aviary.Id"
                           role="button">
                            Показать животных
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>