@using Core; 
@model List<Animal> 
<h2>Питомцы</h2>
<div class="row justify-content-end">
    <a class="btn btn-primary" asp-controller="Animal"
       asp-action="Add" role="button">Добавить</a>
</div><br />

<div class="row">
    @foreach (var animal in Model)
    {
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <div>
                        <img class="card-img-top" src="~/images/project_icon.jpg"
                             alt="@animal.Name" />
                    </div>
                    <div>
                        <p class="font-weight-normal">@animal.Name</p>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-danger" asp-controller="Animal"
                           asp-action="Remove" asp-route-id="@animal.AnimalID"
                           role="button">
                            Забрать из приюта
                        </a>
                        <a class="btn btn-secondary" asp-controller="Animal"
                           asp-action="Feed" asp-route-id="@animal.AnimalID"
                           role="button">
                            Покормить
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>